@import '../define.scss';
div.top_widget{
    cursor: pointer;
    background-color: $MainColor;
    position: fixed;
    right: 1%;
    bottom: 5%;
    z-index: 999;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transition: .1s ease-in-out;
    @media (max-width:1200px) {
        bottom: 15%;
        
    }
    &:hover{
        background-color: darken($color: $MainColor, $amount: 10%);
    }
    svg{
        font-size: 25px;
        vertical-align: bottom;
        color: #fff;
    }
    p{
        font-size: 0.75rem;
        font-weight: bold;
        color: #fff;
    }
}

div.widget{
    position: fixed;
    top: 15%;
    right: 1%;
    border: 1px solid #999;
    background-color: #fff;
    padding: 10px;
    z-index: 900;
    @include shadowDefault();
    
    @media (max-width:1200px) {
        bottom: 0;
        width: 100%;
        box-shadow: none;
        right: 0;
        border: 0px;
        border-top: 1px solid #d0d0d0;
        padding: 5px 10px;

    }
    &>div{
        cursor: pointer;
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 1px dashed #666;
        padding: 10px 0px;
        @media (max-width:1200px) {
            display: inline-block;
            width: 32%;
            box-sizing: border-box;
            border: 0px;
            margin-bottom: 5px;
            padding: 5px 0px;
        }

        img{
            max-width: 40px;
        }
        p{
            font-size: 0.75rem;
            margin-top: 5px;
            font-weight: bold;
        }
    }
    div.phone{
        margin-bottom: 0;
        border: 0;
    }
}