div.about{
    div.about_head{
        width: 100%;
        height: 500px;
        background-size: cover;;
        background-image: url(../../image/about/menu_ceo.jpg);
        margin-bottom: 50px;
        background-position: center;

        
        h3{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 2.2rem;
            color: #fff;
            text-align: center;
            letter-spacing: 2px;
        }
        @media (max-width:1024px) {
            background-position: right;;
        }
    
    }
    div.about_contant{
        section{
            padding: 75px 0px;
        }
        h2{
            text-align: center;
            font-weight: bold;
            margin-bottom: 75px;
        }
        
        div.obj{
            width: 60%;
            height: 200px;
            position: absolute;
            left: 0;
            z-index: -1;
            background-color: #f7f7f7;
        }
        div.wrap{
            div.text_contant{
                width: 45%;
                display: inline-block;
                @media (max-width:767px) {
                    width: 95%;
                    display: block;
                    margin: 0 auto;
                }

                h4{
                    font-size: 24px;
                    margin: 20px 0px;
                    @media (max-width:767px) {
                        font-size: 18px;
                        &.tit{
                            text-align: center;
                        }
                    }

                }
                p{
                    word-break: keep-all;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    margin-bottom: 30px;
                }
            }
            div.caption{
                width: 40%;
                max-width: 450px;
                display: inline-block;
                vertical-align: top;
                img{
                    width: 100%;
                }
                @media (max-width:767px) {
                }
            }
          
           
     
        }
        section.section1{
            padding-bottom: 0;
            div.caption{
                margin-left: 10%;
                text-align: right;
                @media (max-width:767px) {
                    display: none;

                }
                
            }
        }
        section.section2{
            @media (max-width:767px) {
                padding-top: 0;
            }

            div.text_contant{
                width: 40%;
                margin-left: 10%;
                @media (max-width:767px) {

                    width: 95%;
                    display: block;
                    margin: 0 auto;
                }
            }
            div.caption{
                width: 45%;
                max-width: 450px;
                @media (max-width:767px) {
                    display: none;
                }

            }

        }
        section.section3{
            background-color: #f7f7f7;
        }

        section{
            div.fig{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
}