div.home{
    div.slider{
        width: 100%;
        background-color: #d0d0d0;
        .VueCarousel-wrapper{
            height: 500px;
            p{
                text-align: center;
                margin-top: 250px;
            }

        }
    }
    h2{
        border-bottom: 1px solid #d0d0d0;;
        padding-bottom: 15px;
        vertical-align: middle;
        text-align: left;

        span{
            cursor: pointer;
            position: absolute;
            right: 0;
            font-weight: 100;
        
        }
    }
    section.section1{
        div.content{
            width: 46%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            @media (max-width:1024px) {
                width: 95%;
                display: block;;
                margin: 0 auto;
                margin-bottom: 30px;
            }
     
            &.notice{
                ul{
                    li{
                        text-align: left;
                        font-size: 1rem;
                        margin: 10px 0px;
                        overflow: hidden;
                        height: auto;
                        p{
                            width: 80%;
                            height: 100%;
                            display: inline-block;
                            text-overflow: ellipsis;
                            white-space:nowrap;
                            overflow: hidden;
                            vertical-align: middle;

                        }
                        span{
                            position: absolute;
                            right: 0;
                            font-size: 0.875rem;
                            border-left: 1px solid #d0d0d0;;
                            padding-left: 10px;
                            vertical-align: middle;
                        }

                    }
                }
            }
            &.news_info{
                float: right;
                @media (max-width:1024px) {
                    float: none;
                }


                div.news_photo{
                    margin-top: 15px;
                    width: 150%;
                    text-align: left;
                    overflow: hidden;
                        @media (max-width:1200px) {
                            width: 100%;
                            text-align: center;
                        }

                    &>div{
                        width: 180px;
                        display: inline-block;
                        padding: 5px;
                        box-sizing: border-box;
                        vertical-align: middle;
                   
                        @media (max-width:1200px) {
                            width: 32%;
                        }

                        @media (max-width:767px) {
                            width: 48%;
                        }

                        div.inner{
                            width: 100%;
                            height: 100%;
                            div.photo{
                                width: 100%;
                                height: 100px;
                                background-color: #d0d0d0;
                                @media (max-width:767px) {
                                    height: 120px;
                                }

                            }
                            p{
                                height: 50px;
                                width: 100%;
                                overflow: hidden;   
                                text-overflow: ellipsis;
                                margin-top: 10px;
                                text-align: left;
                                @media (max-width:767px) {
                                    height: auto;
                                }


                            }
                            p.date{
                            }
                        }
                    }
                }

            }
        }

    }
    section.section2{
        background-color: #f3f3f3;
        div.wrap{
            @media (max-width:767px) {
                width: 95%;
                
            }            

        }
        div.youtubes{
            text-align: center;
            margin-top: 10px;
            &>div{
                width: 23.8%;
                height: 190px;
                display: inline-block;
                margin-top: 20px;
                margin-right: 10px;
                background-color: #d0d0d0;
                @media (max-width:1024px) {
                    width: 46%;
                    margin-right: 0px;
                    margin: 5px;
                    height: 170px;
                    
                }
            }
        }
    }
    section.section3{
        div.content{
            width: 46%;
            display: inline-block;
            text-align: center;
            @media (max-width:767px) {
                width: 95%;
                display: block;;
                margin: 0 auto;
                margin-bottom: 30px;
            }
     
            &.notice{
                ul{
                    li{
                        text-align: left;
                        font-size: 1rem;
                        margin: 10px 0px;
                        overflow: hidden;
                        height: auto;
                        p{
                            width: 80%;
                            height: 100%;
                            display: inline-block;
                            text-overflow: ellipsis;
                            white-space:nowrap;
                            overflow: hidden;
                            vertical-align: middle;

                        }
                        span{
                            position: absolute;
                            right: 0;
                            font-size: 0.875rem;
                            border-left: 1px solid #d0d0d0;;
                            padding-left: 10px;
                            vertical-align: middle;
                        }

                    }
                }
            }
            &.news2_info{
                float: right;
                overflow: hidden;
                @media (max-width:767px) {
                    float: initial;
                }
                div.news2{
                    height: 180px;
                    padding: 20px 0px;
                    box-sizing: border-box;
                    overflow-y: scroll;
                    ul{
                        li{
                            text-align: left;
                            margin-bottom: 20px;
                            div.photo{
                                vertical-align: middle;
                                display: inline-block;
                                width: 160px;
                                height: 115px;
                                background-color: #d0d0d0;
                                @media (max-width:767px) {
                                    max-width: 40%;
                                    height: 80px;
                                }

                            }
                            p{
                                height: 100px;
                                vertical-align: top;
                                width: 50%;
                                margin-left: 10px;
                                display: inline-block;
                                overflow: hidden;
                                font-size: 0.875rem;
                            }
                        }
                    }
                }

            }
        }
    }

}