div.board{
    div.board_head{
        width: 100%;
        height: 500px;
        background-color: #d0d0d0;
        h3{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 2.2rem;
            color: #fff;
            text-align: center;
            letter-spacing: 2px;
        }
    }
    div.faq{
        div.board_head{
            background-image: url(../../image/board/faq_head.jpg);;
        }
        section.section1{
            h2{
                text-align: center;
            }
            nav.faq_lnb{
                margin: 30px auto;
                ul{
                    width: 100%;
                    height: 70px;
                    text-align: center;
                    border: 2px solid #666;
                    li{
                        cursor: pointer;
                        width: 25%;
                        float: left;
                        height: 100%;
                        border-right: 1px solid #d0d0d0;
                        transition: .1s ease-in-out;
                        box-sizing: border-box;
                        line-height: 70px;
                        &.active{
                            background-color: #d0d0d0;
                            color: white;
                        }
                        &:last-child{
                            border-right: 0px;
                        }
                    }
                }
            }
            ul.faq{
                width: 100%;
                border-bottom: 2px solid #666;
                border-top: 2px solid #666;
                li{
                    width: 100%;
                    padding: 25px 10px;
                    border-bottom: 1px solid #d0d0d0;
                    box-sizing: border-box;
                    cursor: pointer;
                    p{
                        margin-left: 50px;
                    }
                    span{
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 25px;
                        height: 25px;
                        background-color: rgb(236, 102, 71);
                        text-align: center;
                        line-height: 25px;
                        color: white;
                        border-radius: 100%;;
                    }
                    label{
                        display: inline-block;
                        width: 130px;
                        color: #999;
                        margin: 0px 10px;
                    }
                    &:last-child{
                        border-bottom: 0px;
                    }
                    &:nth-child(2n){
                        background-color: #f9f9f9;
                        p{
                            font-size: 0.875rem;
                        }
                        &.active{
                            visibility: initial;
                        }
                        &.beactive{
                            visibility: hidden;
                            height: 0;
                            padding: 0;
                        }
                        
                        span{
                            background-color: #20a6f2;
                        }

                    }
                }
            }
        }
       
    }
    div.support{
        div.board_head{
            background-image: url(../../image/board/support_head.jpg);;
        }
    }
    div.down{
        div.board_head{
            background-image: url(../../image/board/download_head.jpg);;
        }
    }
}