$black:#222;
$white:#fff;
$PointColor:#4682B4;
$MainColor:#87CEFA;
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width:1200px) {
        max-width: 98%;
    }
}

.mo{
    visibility: hidden;
    @media (max-width:767px) {
        visibility: initial;
    }
}
section{
    padding: 100px 0px;
    @media (max-width:767px) {
        padding: 50px 0px;
        
    }
}

span.more{
        cursor: pointer;
        position: absolute;
        right: 0;
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;;
        transition: .1s ease-in;
        b{
            font-size: 16px;
            @media (max-width:1024px) {
                font-size: 14px;
            }
        }
        &:hover{
            background-color: $MainColor;
            color: $white;
        }
        @media (max-width:1024px) {
            font-size: 16   px;
        }
     
}