$black:#444;
$white:#fff;
$PointColor:#4682B4;
$redPoint:#d90125;
$MainColor:#87CEFA;
$lightgray:#f9fafc;


.wrap {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width:1200px) {
        max-width: 98%;
    }
}

.mo {
    visibility: hidden;
    @media (max-width:767px) {
        visibility: initial;
    }
}

section {
    padding: 100px 0px;

    @media (max-width:767px) {
        padding: 50px 0px;

    }
}

strong {
    font-weight: bold;
    color: $PointColor;
}

span.more {
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    transition: .1s ease-in;

    b {
        font-size: 16px;

        @media (max-width:1024px) {
            font-size: 14px;
        }
    }

    &:hover {
        background-color: $MainColor;
        color: $white;
    }

    @media (max-width:1024px) {
        font-size: 16 px;
    }

}

@mixin shadowDefault() {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

@mixin textOverFlow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.btn{
    margin: 20px 0px;
    padding: 8px 30px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    font-size: 0.75rem;
    transition: .1s ease-in;
    color: #444;
    &:hover{
        background-color: $PointColor;
        color: white;
    }
    &.red{
        &:hover{
            background-color: $redPoint;
            color: $white;

        }
    }
    &.active{
        background-color: $PointColor;
        color: white;
    }
}

div.popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    cursor: pointer;
}

.page {
    clear: both;
    margin: 30px auto 10px auto;
    text-align: center;
    span {
        cursor: pointer;
        display: inline-block;
        border: 1px solid #dfdfdf;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #fff;
        margin: 2px;
        @media (max-width:767px) {
            width: 30px;
            height: 30px;
            line-height: 30px;
            
        }
        b{
            font-size: 0.75rem;
        }
        &.on {
            border: 1px solid #d90125;
            color: #d90125;
        }
        &:hover{
            border: 1px solid #d90125;
            color: #d90125; 
        }
        &.none{
            pointer-events: none;
            opacity: 0.3
        }
    }
}
