footer{
    border-top: 1px solid #d0d0d0;

    div.logos{
        width: 100%;
        height: 80px;
        line-height: 80px;
        div{
            text-align: center;
            img{
                width:50%;
            }
         
        }
    }
    div.foot{
        height: 300px;
        background-color: #424242;
    }
}