@import '../define.scss';
section.login_page{
    h2{
        text-align: center;
    }
    ul{
        margin-top: 50px;
        @media (max-width:767px) {
            margin-top: 20px;
            
        }
        li{
            width: 98%;
            max-width: 450px;
            height: 60px;
            margin: 20px auto;
            @media (max-width:767px) {
                width: 90%;
                height: 50px;
            }

            input{
                width: 100%;
                height: 100%;
            }
            div.btn{
                width: 100%;
                height: 100%;
                line-height: 60px;
                padding: 0;
                background-color: $PointColor;
                font-size: 1.125rem;
                color: white;
                margin-top: 0px;
                &:hover{
                    background-color:lighten($color: $PointColor, $amount: 10%);
                }
                @media (max-width:767px) {
                    line-height: 50px;
                }
            }
           
        }
        p{
            width: 100%;
            max-width: 450px;
            margin: 10px auto;
            @media (max-width:767px) {
                width: 90%;
            }
            a{
                float: right;
                text-decoration: underline;
            }
        }
    }
}